@import "./../../../../variables";

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 2em;

    margin: 0;
    padding: 0;

    p {
        margin: 0;
        width: 100%;
        text-align: center;
        align-self: center;

        // font

        font-family: $theme-text-font;
        font-size: 1em;

        //color

        color: $text-color-alt;

        a {
            text-decoration: none;
            font-weight: 900;
            color: $text-color-alt;
        }
    }

    .login-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;

        margin: 0;
        padding: 0;

        .icon {
            //size
            width: 3em;
            height: 3em;

            //padding y margin
            margin: 0;
            padding: 0.5em;

            // color - background

            color: white;
            background-color: $color-primary;

            // border
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;
        }

        input {
            /*size*/
            width: 80%;
            height: 8vh;

            /*backgorund color*/
            background: #E3F5F3;

            /*border*/
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: none;

            /*font*/
            font-family: inherit;
            font-size: 1em;
            overflow: auto;

            margin: 0;
            padding: 0 2em 0 2em;

            transition: 0.5s;
        }

        input:focus {
            outline: none;
        }

        input:hover {
            transform: scale(1.025);
        }
    }

    .login-buttons {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;

        gap: 2em;
        width: 60%;

        Button {
            height: 3em;
        }
    }
}

@media (max-width: 768px) {

    .form-container{
        .login-buttons {
            width: 100%;
    
            Button {
                width: 15em;
                height: 5em;
            }
        }
    }
}