.requisitoscontainer{
    margin: 0;

    color: black;

    background-color: #fefefe;

    hr{
        width: 95%;

        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        align-self: center;

        background-color: none;

        border-color: #e3f5f3;
        border-style:dashed;
    }
}