@import '../../../../../../assets/sass/variables';

.c3{
    margin: 0;

    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    height: 7vh;
    width: 65vh;

    figure{
        width: 6vh;
        height: 6vh;

        margin: 0;

        svg{
            width: 100%;
            height: 100%;

            object-fit: fill;
        }
    }

    div{
        margin: 0;
        height: 6vh;
        width: 55vh;

        border: none;
        border-radius: 0.7rem;

        background-color: $color-secundary;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        select{
            margin: 0;

            padding-left: 2vh;
            width: 55vh;
            height: 5.5vh;

            background-color: $color-secundary;

            border: none;
            border-radius: 0.7rem;

            font-size: 2vh;
            font-family: $theme-text-font;

            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            option{
                width: 55vh;
            }
        }
    }
}

@media screen and (max-width: 640px){
    .c3{
        width: 30vh;

        figure{
            width: 4vh;
            height: 4vh;
        }

        div{
            width: 25vh;

            select{
                width: 25vh;
                font-size: 1vh;
            }
        }
    }
}