.programadorcontainer{
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding-top: 3rem;
    padding-bottom: 3rem;

    gap: 1.5rem;

    min-height: 70vh;

}