.sectionmain{
    background-color: #11556e;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 6rem;

    height: 100%;
    width: 100%;
}