.imagebanner{
    width: 45vh;
    min-width: 35vh;
    height: 45vh;
    min-height: 25vh;
    margin: 0;

    padding: 0;

    padding-top: 2rem;
    padding-bottom: 2rem;

    img{
        width: 100%;
        height: 100%;

        object-fit:fill;
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .imagebanner{
        padding-top: 0;
        
        width: 15vh;
        height: 35vh;
    }
}