@import "../../../../../../../../assets/sass/variables";

.nacimiento{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    padding-top: 1rem;
    width: 100%;

    justify-content: center;

    div{
        background-color: #e3f5f3;
        border-radius: 1rem;

        width: 22rem;
        height: 2.8rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        p{
            font-family: $theme-text-font;//cambiar
            text-align: left;
        }
    }
    div:first-child{
        background-color: #11556e;
        border-radius: 1rem;
        padding: 0;

        width: 2.8rem;
        height: 2.8rem;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
        margin: 0;

        figure{
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;

            svg{
                height: 100%;
                width: 100%;

                object-fit: fill;

                color: white;
            }
        }
    }
}