@import '../../../../assets/sass/variables';

.flechitac{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: $color-primary;

    figure{
        margin: 0;
        width: 7rem;
        height: 4rem;

        svg{
            margin: 0;
            width: 100%;
            height: 100%;
            color: white;

            object-fit:fill;
            margin: 0;
        }

        img{
            width: 100%;
            height: 100%;

            object-fit:fill;
            margin: 0;
        }
    }
}