@import '../../../../../assets/sass/variables';

.txtbanner{
    margin: 0;

    width: 40vh;

    padding: 0;
    padding-top: 3rem;

    h1{
        margin: 0;
        font-size: 5vh;
        color: $text-color;
        width: 100%;
        text-align: left;

        font-family: $theme-title-font;
    }
    h3{
        margin: 0;
        color: $text-color;
        font-family: $theme-title-font;

        padding-bottom: 1rem;
        font-size: 2vh;
        text-align: left;

        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .txtbanner{
        padding-bottom: 0;
    }
}