@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans');

$theme-text-font: 'Work Sans', sans-serif;
$theme-title-font: 'Crimson Text', serif;

$color-primary: #11556E;
$color-accent: white;
$background-color: #F5F5F5;
$buttons-color: #F45652;
$text-color: #f5f5f5;
$text-color-alt: #212529;
$color-secundary: #e3f5f3;
$unactive-color: #a1a1a1;