.sectionbannercita{
    margin: 0;

    background-color: #11556e;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 7rem;

    justify-content: center;
    align-items: center;
    align-content: center;
}