@import "../../../../../../assets/sass/variables";

.citas{
    margin: 0;

    display: flex;
    width: 100%;

    //flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

    // padding-left: 1rem;
    //padding-right: 1rem;

    justify-content: center;
    align-content: center;
    align-items: center;

    h1{
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 2.5rem;
        font-family: $theme-title-font;
    }
}