@import "../../../../../assets/sass/variables";

.infogeneral{
    margin: 0;
    width: 100%;//70

    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;

    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;

    justify-content: center;
    align-items: center;
    align-content: center;

    h1{
        text-align: center;
        font-size: 2.7rem;
        font-family: $theme-title-font;
        color: black;
        
        padding-top: 2rem;
        padding-bottom: 1rem;

        width: 100%;
    }
}