@import "../../../../../../../../../assets/sass/variables";

.fecha{
    margin: 0;

    width: 18vh;

    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: 0.75rem;
        font-family: $theme-text-font;
    }
}
@media screen and (max-width: 640px){
    .fecha{
        width: 6vh;

        p{
            font-size: 1vh;
        }
    }
}